.RandomMovie {
  padding: 150px 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-top: -130px;
  z-index: -1;

  .random {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 33px;
    border-radius: 20px;
    background-color: rgba(20, 19, 19, 0.405);
    margin: 40px auto;
    width: 90%;
    height: 100%;
    padding: 10px 40px;
    cursor: pointer;
    .detail {
      height: 80vh;
      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      h2 {
        margin: 15px 0px;
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: 600;
        line-height: 49px;
        letter-spacing: 0%;
      }
      p {
        width: 50%;
        font-size: 16px;
        font-weight: 500;
        line-height: 160.4%;
        margin: 20px 0;
      }
      .btn {
        margin: 12px 0;
        button {
          color: rgb(255, 255, 255);
          font-size: 16px;
          font-weight: 500;
          text-align: center;
          width: 151px;
          height: 50px;
          padding: 10px 20px 10px 20px;
          border-radius: 36px;
          background: rgb(239, 66, 52);
        }
      }
    }
  }
}
