header {
  padding: 40px 0;

  .Header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav {
      display: flex;
      align-items: center;
      gap: 80px;
      .logo {
        font-weight: 600;
      }
      nav {
        display: flex;
        align-items: center;
        gap: 40px;
      }
    }
    .user {
      font-size: 30px;
    }
  }
}
